{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="{{url_for('main.index')}}">Portfolio</a></li>
            </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li style="color:yellowgreen;padding:15px;">{{current_user.username}}</li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">options
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('main.new_category')}}">new category</a></li>
                <li><a href="{{url_for('main.new_project')}}">new project</a></li>
                <li><a href="#">new blog</a></li>
              </ul>
            </li>
            <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            {% else %}
            <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">categories
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                         {{macro.displayCategories(categories)}}
                    </ul>
            </li>
            <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
            {%endif%}
          </ul>
        </div>
    </nav>
{% endblock%}